// Шрифты
$title-font: 'Playfair Display';
$text-font: 'Karla';
$text-font-ital: 'Karla', sans-serif;

// Цвета
$main-text: #ffffff;
$btn-color: #da6f5b;
$title-color: #111563;
$text-color: #63718e;

// Тени
$primary-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
