.button-order {
    cursor: pointer;

    border: none;
    border-radius: 3px;
    background-color: #da6f5b;

    font-family: $text-font;
    color: $main-text;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
}
