.form__input {
    font-family: $text-font;
    color: $main-text;

    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 17px;
    text-align: left;

    border: none;
    border-radius: 3px;

    padding-top: 16px;
    padding-bottom: 12px;
    padding-left: 21px;
    padding-right: 15px;
    background-color: #ffffff20;

    &::placeholder {
        color: $main-text;
    }
}
