.menu {
    &__btn {
        @media screen and (max-width: 767px) {
            position: absolute;
            top: 0px;
            left: 50%;
            transform: translate(-50%, 98px);
            padding-left: 89px;
            padding-right: 87px;
            padding-top: 15px;
            padding-bottom: 15px;
            line-height: 13px;
        }

        @media screen and (min-width: 768px) {
            padding-left: 58px;
            padding-right: 57px;
            padding-top: 15px;
            padding-bottom: 14px;
            line-height: 13px;
            font-size: 18px;
        }
    }
    &__item {
        text-align: center;

        @media screen and (min-width: 768px) {
            &:first-child {
                margin-right: 54px;
            }
            &:nth-child(2n) {
                margin-right: 67px;
            }
        }
    }
    &__link {
        font-family: 'Myriad Pro', sans-serif;
        color: $main-text;
        font-size: 24px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 48px;

        @media screen and (min-width: 768px) {
            font-family: $text-font;
            font-size: 18px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 13px;
        }
    }
    &__link--active {
        position: relative;

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            content: '';
            width: 100%;
            border-bottom: 1px white solid;
        }

        @media screen and (min-width: 768px) {
            &::after {
                position: absolute;
                z-index: -1;
                content: '';
                bottom: 50%;
                left: 50%;
                transform: translate(-50%, 50%);

                width: 140%;
                height: 23px;
                background-color: #2d2d35;
                border-bottom: none;
            }
        }
    }

    &__list {
        @media screen and (min-width: 768px) {
            margin-right: 229px;
        }
    }
    // &__navigation {
    // }
    &__wrapper-mob {
        @media screen and (max-width: 767px) {
            position: absolute;
            top: 0;
            transform: translate(-5%);
            z-index: -5;
            visibility: hidden;

            width: 320px;
            padding-top: 189px;
            padding-bottom: 57px;

            background-color: #2d2d35;
        }
        @media screen and (min-width: 768px) {
            display: flex;
            align-items: baseline;
        }
        &--active {
            visibility: visible;
            z-index: 2;
        }
    }

    &__btn-close {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-76%, 146%);
        width: 20px;
        height: 16px;
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-image: url(../images/close-menu.png);

        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}
