.header {
    position: relative;
    z-index: 1;
    padding-top: 17px;
    margin-bottom: 689px;

    @media screen and (min-width: 769px) {
        .header {
            padding-top: 22px;
        }
    }

    // &__wrapper {
    //     &__
    // }
    &__btn-close {
        border: none;
        background-image: url('../images/burger.svg');
        background-color: transparent;
        width: 23px;
        height: 15px;
    }
}

.logo__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    background-repeat: no-repeat;
    background-image: url(../images/logo-mob.png);
    width: 77px;
    height: 23px;

    @media screen and (min-width: 769px) {
        background-image: url(../images/logo-desct.png);
        width: 119px;
        height: 36px;
    }
}
.menu {
    // &__btn {
    // }
    // &__item {
    // }
    // &__link {
    // }
    // &__list {
    // }
    // &__navigation {
    // }
    &__wrapper-mob {
        visibility: hidden;
        position: absolute;
    }
}

// @media screen and (max-width: 1180px) {
//     .header-wrapper-menu {
//         display: none;
//     }
// }

// .icon-mobile {
//     display: inline-block;
//     background: transparent;
//     background-image: url(../images/burg.png);
//     background-size: contain;
//     background-repeat: no-repeat;
//     width: 30px;
//     height: 15px;
//     border: none;
//     padding-top: 11px;
//     padding-bottom: 10px;
// }
