.form {
    padding-top: 28px;
    padding-bottom: 30px;
    padding-right: 18px;
    padding-left: 18px;
    border-radius: 5px;
    background-color: #00000063;

    @media screen and (min-width: 1160px) {
        padding-top: 32px;
        width: 1130px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 36px;
    }

    &__btn {
        line-height: 13px;
        text-align: center;

        padding-left: 89px;
        padding-right: 87px;
        padding-top: 15px;
        padding-bottom: 15px;

        @media screen and (min-width: 768px) and (max-width: 1159px) {
            display: block;
            margin-top: 25px;
            margin-left: auto;
            margin-right: auto;
        }
        @media screen and (min-width: 1160px) {
            font-size: 18px;
            line-height: 14px;

            padding-left: 70px;
            padding-right: 69px;
            padding-top: 15px;
            padding-bottom: 14px;

            margin-left: auto;
            margin-right: 41%;
        }
    }
    &__el {
        @media screen and (min-width: 1160px) {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: center;
            padding-right: 0px;
        }
    }
    &__input-email {
        @media screen and (min-width: 768px) {
            display: none;
        }

        width: 100%;
        margin-bottom: 17px;
    }
    &__input-text {
        @media screen and (max-width: 767px) {
            display: none;
        }

        width: 100%;
        margin-bottom: 35px;
        @media screen and (min-width: 1160px) {
            max-width: 324px;
        }

        padding-top: 22px;
        padding-bottom: 18px;
        padding-left: 28px;
        padding-right: 15px;
        margin-right: 38px;
    }

    &__text {
        margin-bottom: 14px;

        color: #ffffff;
        font-family: $title-font;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 14px;
        text-align: center;

        @media screen and (min-width: 768px) {
            font-size: 24px;
            line-height: 24px;
            margin-bottom: 20px;
        }
    }
}

.hero {
    &__text {
        color: $main-text;
        font-family: Karla;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24px;
        text-align: center;
        font-style: normal;

        @media screen and (min-width: 768px) {
            font-size: 18px;
            line-height: 30px;
            width: 493px;
            margin-left: auto;
            margin-right: auto;
        }

        &::after {
            content: '';
            display: block;
            width: 17px;
            height: 23px;
            margin-left: auto;
            margin-right: auto;
            background-image: url(../images/down.png);
            background-size: contain;
            background-repeat: no-repeat;

            margin-top: 14px;
            margin-bottom: 14px;
        }
        @media screen and (min-width: 768px) {
            &::after {
                width: 24px;
                height: 32px;

                margin-top: 18px;
                margin-bottom: 25px;
            }
        }
    }
    @media screen and (min-width: 768px) {
        &__hidden-in-desctop {
            display: none;
        }
    }
    &__title {
        color: $main-text;
        font-family: $title-font;
        font-size: 36px;
        font-weight: 700;
        line-height: 43px;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        font-style: normal;
        letter-spacing: normal;

        margin-bottom: 16px;
        @media screen and (min-width: 768px) and (max-width: 1159px) {
            margin-top: 25px;
        }

        @media screen and (min-width: 768px) {
            font-size: 72px;
            line-height: 87px;
            width: 736px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 13px;
        }
    }
    &__wrapper {
        width: 320px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 43px;
        padding-top: 108px;
        background-image: url(../images/pic.png);
        background-color: #3a3a3a;
        background-repeat: no-repeat;

        @media screen and (max-width: 767px) {
            transform: translate(0px, -28px);
        }
        @media screen and (min-width: 768px) and (max-width: 1159px) {
            transform: translate(0px, -100px);
        }

        @media screen and (min-width: 768px) {
            background-image: url(../images/pic-desc.png);
            background-position: center;
            width: 100%;
            max-width: 1924px;

            padding-top: 137px;
            padding-bottom: 50px;
        }
    }
}

@media screen and (max-width: 767px) {
    .select-type {
        margin-bottom: 17px;
    }
}

@media screen and (min-width: 768px) {
    .hero > .container {
        max-width: 3000px;
    }
}
