.form {
    padding-top: 28px;
    padding-bottom: 30px;
    padding-right: 18px;
    padding-left: 18px;
    border-radius: 5px;
    background-color: #00000063;
    // &__btn {
    // }
    // &__el {
    // }
    &__input-email {
        @media screen and (min-width: 768px) {
            display: none;
        }

        width: 100%;
        margin-bottom: 17px;
    }
    &__input-text {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__text {
        margin-bottom: 14px;

        color: #ffffff;
        font-family: $title-font;
        font-size: 16px;
        font-weight: 400;
        font-style: Regular;
        letter-spacing: normal;
        line-height: 14px;
        text-align: center;
    }
}

.hero {
    &__text {
        color: $main-text;
        font-family: Karla;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24px;
        text-align: center;
        font-style: normal;

        &::after {
            content: '';
            display: block;
            width: 17px;
            height: 23px;
            margin-left: auto;
            margin-right: auto;
            background-image: url(../images/down.png);
            background-size: contain;
            background-repeat: no-repeat;

            margin-top: 14px;
            margin-bottom: 14px;
        }
    }
    &__title {
        color: $main-text;
        font-family: $title-font;
        font-size: 36px;
        font-weight: 700;
        line-height: 43px;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        font-style: normal;
        letter-spacing: normal;

        margin-top: 107px;
        margin-bottom: 16px;
    }
    &__wrapper {
        position: absolute;
        z-index: 0;
        top: -28px;
        left: 50%;
        transform: translate(-50%);
        width: 320px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 43px;
        background-image: url(../images/pic.png);
        background-color: #3a3a3a;
        background-repeat: no-repeat;
    }
}

.select-type {
    margin-bottom: 17px;
}
