.form {
    margin-top: 51px;
    // &__btn {
    // }
    // &__el {
    // }
    // &__input {
    // }
    // &__text {
    // }
}
.hero {
    &__text {
        margin-top: 26px;
    }
    &__title {
        margin-top: 87px;
    }
    &__wrapper {
        position: absolute;
        background-repeat: no-repeat;
        z-index: -1;
        background-image: url(../images/pic.png);
        background-color: #3a3a3a;
        top: 0;
        left: 0;
        padding-left: 16px;
        padding-right: 16px;
    }
}

// .select {
//   &__body {
//   }
//   &__header {
//   }
//   &__item {
//   }
// }
// .select-type {
//   &__body {
//   }
//   &__current {
//   }
//   &__header {
//   }
//   &__icon {
//   }
//   &__item {
//   }
// }
