// .button {
// }
.handle {
    text-align: center;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-around;
    }
    &__btn {
        cursor: pointer;
        background-color: transparent;
        border-radius: 3px;
        border: 1px solid #da6f5b;
        color: #da6f5b;
        font-family: 'Myriad Pro', sans-serif;
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 10px;
        text-align: center;

        padding-top: 16px;
        padding-bottom: 15px;
        padding-right: 59px;
        padding-left: 59px;
    }
    &__counter {
        &--dynamic {
            color: #2d2d35;
            font-family: Ovo;
            font-size: 24px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 30.02px;
        }
    }
    &__wrapper {
        margin-bottom: 26px;
    }
}
.tns-nav {
    display: none;
}
.testimonials {
    padding-top: 33px;
    padding-bottom: 51px;

    @media screen and (min-width: 768px) {
        padding-top: 82px;
        padding-bottom: 80px;
    }

    &__card {
        width: 287px;
        padding-top: 29px;
        padding-bottom: 49px;
        padding-right: 18px;
        padding-left: 19px;
        box-shadow: 1px 3px 5px 1px rgba(34, 60, 80, 0.26);

        @media screen and(min-width:768px) {
            width: 731px;
            padding-right: 72px;
            padding-left: 72px;
            padding-top: 36px;
            padding-bottom: 35px;
        }
    }
    &__item {
        margin-bottom: 21px;
    }
    &__name {
        color: #2d2d35;
        font-family: Ovo;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24.02px;
        text-align: center;

        @media screen and(min-width:768px) {
            text-align: left;

            font-size: 18px;
        }
    }

    &__text {
        color: #5b5e6b;
        font-family: $text-font-ital;
        font-size: 16px;
        font-style: italic;
        letter-spacing: normal;
        line-height: 24.02px;
        text-align: center;

        margin-bottom: -8px;

        @media screen and(min-width:768px) {
            font-size: 18px;
            line-height: 29px;
            letter-spacing: -0.1px;
            margin-bottom: -3px;
        }

        &::after {
            content: '';

            position: relative;
            bottom: 9px;
            display: inline-block;
            height: 1px;
            width: 100%;
            background-color: #f1f5f7;
            @media screen and (min-width: 768px) {
                bottom: 7px;
            }
        }
    }
    &__hiden-on-mobail {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    &__title {
        color: #2d2d35;
        font-family: $title-font;
        font-size: 36px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;

        margin-bottom: 18px;

        @media screen and(min-width:768px) {
            font-size: 48px;
            line-height: 40px;
            margin-bottom: 35px;
        }
    }
    &__wrapper {
        @media screen and(max-width:767px) {
            width: 320px;
            // padding-left: 16px;
            // padding-right: 17px;
            margin-left: auto;
            margin-right: auto;
        }
        overflow: hidden;
    }
}

.tns-controls {
    position: relative;
    top: 135px;

    @media screen and(min-width:768px) {
        top: 96px;
        width: 731px;
        margin-left: auto;
        margin-right: auto;
    }

    & > button {
        background-color: transparent;
        border: none;
    }
    & [data-controls='prev'] {
        position: absolute;
        z-index: 1;
        left: 6px;
        background-image: url('../images/arrow-slide-l.png');
        width: 24px;
        height: 16px;
        background-size: contain;

        @media screen and(min-width:768px) {
            left: -35px;
        }
    }
    & [data-controls='next'] {
        position: absolute;
        z-index: 1;
        right: 6px;
        background-image: url('../images/arrow-slide-r.png');
        width: 24px;
        height: 16px;
        background-size: contain;

        @media screen and(min-width:768px) {
            right: -35px;
        }
    }
}
